<p class="text-white">nocte-circles works !!</p>
<p>"Damn, this is a test"</p>

<!-- circleContainer -->
<div class="circleContainer">
    <img src="assets/images/circle.png" id="circle01" class="circle" />
    <img src="assets/images/circle.png" id="circle02" class="circle" />
    <img src="assets/images/circle.png" id="circle03" class="circle" />
    <img src="assets/images/circle.png" id="circle04" class="circle" />
    <img src="assets/images/circle.png" id="circle05" class="circle" />
    <img src="assets/images/circle.png" id="circle06" class="circle" />
    <img src="assets/images/circle.png" id="circle07" class="circle" />
    <img src="assets/images/circle.png" id="circle08" class="circle" />
    <img src="assets/images/circle.png" id="circle09" class="circle" />
    <img src="assets/images/circle.png" id="circle10" class="circle" />
</div>
